# Amazon Sales Power BI Dashboard Capstone

# INTRODUCTION


In the ever-evolving landscape of e-commerce, understanding sales trends is crucial for businesses to make informed decisions. The analysis of Amazon sales trends over the course of 12 months offers invaluable insights into consumer behavior, market dynamics, and the performance of products on one of the world's largest e-commerce platforms. By examining sales data spanning a year, we can identify seasonal trends, fluctuations in demand, and potential growth opportunities for sellers. This analysis aims to uncover patterns and correlations within the sales data, providing actionable insights for businesses to optimize their strategies, inventory management, and marketing campaigns.

### Project Definition

The project entails collecting and analyzing sales data from Amazon over a period of 12 months, encompassing various product categories and regions. Key objectives include identifying seasonal trends, analyzing the impact of promotions or events, and assessing the performance of top-selling products. The analysis will involve data preprocessing, exploratory data analysis (EDA), and statistical modeling to uncover patterns and relationships within the dataset. Visualization techniques will be employed to present findings effectively. The ultimate goal is to provide actionable insights that can inform decision-making processes for sellers and stakeholders, enabling them to enhance their sales strategies and maximize revenue on the Amazon platform.

### Goal of project
By conducting a comprehensive analysis of Amazon sales trends, this project aims to empower businesses with valuable insights to drive growth and enhance competitiveness in the e-commerce marketplace.

### Dataset
You can use the following link to get the dataset used for this project. [kaggle](https://www.kaggle.com/datasets/karkavelrajaj/amazon-sales-dataset/data)

## IMPORTATION

In [90]:
# Import necessary libraries

# Connect to server
import pyodbc
from dotenv import dotenv_values

# Datetime
from datetime import datetime

# Data manipulation
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import seaborn as sns
import missingno as msno

# Statistical Analysis
import scipy.stats as stats

import warnings

# ignore warnings
warnings.filterwarnings('ignore')

## LOADING DATA

In [91]:
# Read All the data from the CSV file into a DataFrame

jan  = pd.read_csv("..\data\Sales_January_2019.csv")
feb  = pd.read_csv("..\data\Sales_February_2019.csv")
mar  = pd.read_csv("..\data\Sales_March_2019.csv")
apr  = pd.read_csv("..\data\Sales_April_2019.csv")
may  = pd.read_csv("..\data\Sales_May_2019.csv")
jun  = pd.read_csv("..\data\Sales_June_2019.csv")
jul  = pd.read_csv("..\data\Sales_July_2019.csv")
aug  = pd.read_csv("..\data\Sales_August_2019.csv")
sep  = pd.read_csv("..\data\Sales_September_2019.csv")
oct  = pd.read_csv("..\data\Sales_October_2019.csv")
nov  = pd.read_csv("..\data\Sales_November_2019.csv")
dec  = pd.read_csv("..\data\Sales_December_2019.csv")

# DATA UNDERSTANDING

## EXPLORATORY DATA ANALYSIS (EDA)

**Use various pandas methods to get preliminary information about the various datasets**

### Concatenating dataset

In [92]:
# Define the column renaming dictionary
column_rename_dict = {
    'Order_ID': 'Order ID',
    'Product': 'Product',
    'Quantity_Ordered': 'Quantity Ordered',
    'Price_Each': 'Price Each',
    'Order_Date': 'Order Date',
    'Purchase_Address': 'Purchase Address'
}

# Rename columns for each DataFrame
jan.rename(columns=column_rename_dict, inplace=True)
feb.rename(columns=column_rename_dict, inplace=True)
mar.rename(columns=column_rename_dict, inplace=True)
apr.rename(columns=column_rename_dict, inplace=True)
may.rename(columns=column_rename_dict, inplace=True)
jun.rename(columns=column_rename_dict, inplace=True)
jul.rename(columns=column_rename_dict, inplace=True)
aug.rename(columns=column_rename_dict, inplace=True)
sep.rename(columns=column_rename_dict, inplace=True)
oct.rename(columns=column_rename_dict, inplace=True)
nov.rename(columns=column_rename_dict, inplace=True)
dec.rename(columns=column_rename_dict, inplace=True)

In [97]:
# Concatenate all monthly DataFrames into a single DataFrame
combined_data = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec], ignore_index=True)

In [99]:
combined_data.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
5,141239,AAA Batteries (4-pack),1,2.99,01/29/19 20:22,"775 Willow St, San Francisco, CA 94016"
6,141240,27in 4K Gaming Monitor,1,389.99,01/26/19 12:16,"979 Park St, Los Angeles, CA 90001"
7,141241,USB-C Charging Cable,1,11.95,01/05/19 12:04,"181 6th St, San Francisco, CA 94016"
8,141242,Bose SoundSport Headphones,1,99.99,01/01/19 10:30,"867 Willow St, Los Angeles, CA 90001"
9,141243,Apple Airpods Headphones,1,150,01/22/19 21:20,"657 Johnson St, San Francisco, CA 94016"

In [100]:
combined_data.tail(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186840,319661.0,AAA Batteries (4-pack),1.0,2.99,2011-12-19 21:24:00,"691 West St, Portland, ME 04101"
186841,319662.0,Bose SoundSport Headphones,1.0,99.989998,2031-12-19 19:07:00,"939 8th St, San Francisco, CA 94016"
186842,319663.0,Flatscreen TV,1.0,300.0,2007-12-19 08:25:00,"334 12th St, Atlanta, GA 30301"
186843,319664.0,ThinkPad Laptop,1.0,999.98999,2030-12-19 01:06:00,"767 2nd St, San Francisco, CA 94016"
186844,319665.0,iPhone,1.0,700.0,2015-12-19 11:13:00,"377 1st St, Atlanta, GA 30301"
186845,319666.0,Lightning Charging Cable,1.0,14.95,2011-12-19 20:58:00,"14 Madison St, San Francisco, CA 94016"
186846,319667.0,AA Batteries (4-pack),2.0,3.84,2001-12-19 12:01:00,"549 Willow St, Los Angeles, CA 90001"
186847,319668.0,Vareebadd Phone,1.0,400.0,2009-12-19 06:43:00,"273 Wilson St, Seattle, WA 98101"
186848,319669.0,Wired Headphones,1.0,11.99,2003-12-19 10:39:00,"778 River St, Dallas, TX 75001"
186849,319670.0,Bose SoundSport Headphones,1.0,99.989998,2021-12-19 21:45:00,"747 Chestnut St, Los Angeles, CA 90001"

In [ ]:
Extracting Info
combined_data.info()

### Checking for missing values

In [ ]:
def get_info_df(df: pd.DataFrame):
    print('============ Shape ============')
    print(df.shape)
    print('============ Data Types ============')
    print(df.info())
    print('============ Missing Values ============')
    print(df.isnull().sum())
    print('============ Duplicated Values ============')
    print(df.duplicated().sum())

In [ ]:
get_info_df(first_missing_values)